*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#background{
    background: rgb(255,59,0);
    background: linear-gradient(333deg, rgba(255,59,0,1) 0%, rgba(0,165,255,1) 100%);
}
body{
    color: lightgoldenrodyellow;
    font-family: "Lato", monospace;
    background: rgb(255,59,0);
    background: linear-gradient(333deg, rgba(255,59,0,1) 0%, rgba(0,165,255,1) 100%);
}
h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 1rem;
}
.countdown{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.center-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.count-down{
    display: flex;
    justify-content: space-around;
}
.day,.hour,.minute,.second{
    font-size: 3rem;
}
.time{
  font-size: 3rem;
}
.date{
  font-size: 1.5rem;
}
.einstein{
    font-size: 3rem;
}