body{
   background-image: url("https://wallpaperaccess.com/full/1155052.jpg");
}
*{
    font-family: 'Roboto', sans-serif;
}
button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}